<mat-sidenav-container class="container">
  <mat-toolbar color="primary" style="position: fixed; z-index: 20;">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span>Rick and Morty API</span>
  </mat-toolbar>

  <mat-sidenav #sidenav mode="over" >
    <div class="sidenav">
      <button mat-raised-button color="primary" routerLink="/rest" (click)="sidenav.toggle()">REST</button>
      <button mat-raised-button color="primary" routerLink="/graphql" (click)="sidenav.toggle()">GRAPHQL</button>
    </div>
  </mat-sidenav>

  <router-outlet style="height: 100vh;"></router-outlet>
</mat-sidenav-container>
