.details {
    display: flex;
    margin: 100px 200px;

    img {
        margin: 0 40px;
    }

    span {
        font-weight: 600;
    }

    p {
        font-size: 1.3em;
    }

    h1 {
        margin-bottom: 30px;
    }
}